* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #F6F6FC;
}

#pokemonsList {
    min-height: 560px;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}

.content-status {
    padding-bottom: 10px;
    border-radius: 0 0px 10px 10px;
}

.container-status {
    background-color: #FFF;
    border-radius: 10px;
    padding-bottom: 10px;
}

.container-status p {
    font-size: 16px;
}

.container-status .type-status .types span {
    margin: 10px;
}

.container-status h3 {
    text-align: center;
}

.pokebola {
    display: none;
}

@media screen and (min-width: 992px) {

    .content,
    .content-status,
    .container-status {
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        border-radius: 1rem;
    }
    
    .content-status {
        padding: 10px;
    }

    .pokebola {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 250px;
        opacity: 0.1;
    }

    .image-status .pokebola img {
        position: absolute;
        width: 350px;
    }
}

.content h1 {
    margin: 0;
    text-align: center;
}